<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commu">

	<select id="getMedicalList" resultType="facInfo">
		<![CDATA[
		select * from
		(select wel.*, rownum "RNUM" from
		(select * from welfarefacilities where typeName = '노인의료복지시설' order by servicescore desc)wel)
		where RNUM <=5
		]]>
	</select>

	<select id="getElderlyhomeList" resultType="facInfo">
		<![CDATA[
		select * from
		(select wel.*, rownum "RNUM" from
		(select * from welfarefacilities where typeName = '노인여가복지시설' order by servicescore desc)wel)
		where RNUM <=5
		]]>
	</select>

	<select id="getSilverhallList" resultType="facInfo">
		<![CDATA[
		select * from
		(select wel.*, rownum "RNUM" from
		(select * from welfarefacilities where typeName = '재가노인복지시설' order by servicescore desc)wel)
		where RNUM <=5
		]]>
	</select>

	<resultMap type="facInfo" id="facInfo">
		<id property="facilityNo" column="facilityNo" javaType="int" />
		<result property="facilityName" column="facilityName" />
		<result property="typeName" column="typeName" />
		<result property="cityloc" column="cityloc" />
		<result property="address" column="address" />
		<result property="telnumber" column="telnumber" />
		<result property="serviceScore" column="serviceScore" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<collection property="medicalDetail" javaType="java.util.List"
			resultMap="medicalDetail" ofType="medicalDetail" />
		<collection property="silverhallDetail" javaType="java.util.List"
			resultMap="silverhallDetail" ofType="silverDetail" />
	</resultMap>
	<resultMap type="medicalDetail" id="medicalDetail">
		<id property="facilityNo" column="facilityNo" javaType="int" />
		<result property="peopleLimit" column="peopleLimit"/>
		<result property="peopleNumber" column="peopleNumber"/>
	</resultMap>
	<resultMap type="silverDetail" id="silverhallDetail">
		<id property="facilityNo" column="facilityNo" javaType="int" />
		<result property="serviceType" column="serviceType"/>
	</resultMap>

	<select id="facInfo" resultMap="facInfo">
		select
		w.facilityNo, w.facilityName, w.typeName,w.cityloc,w.address,w.telnumber,w.serviceScore,w.latitude,w.longitude,m.peopleLimit, m.peopleNumber, s.servicetype
		FROM welfarefacilities w, medicalDetail m, silverhalldetail s
		WHERE w.FACILITYNO = #{facilityNo}
		and w.facilityNo = m.facilityNo(+) and w.facilityNo = s.facilityNo(+)
	</select>
	
	<select id="Reservationmember" resultType="member">
		select mNo,mId,mName,mBirth,mGender,mPhone,mEmail,mAddr from member where mNo = 1
	</select>
	
	<select id="welfareFacilities" resultType="facInfo">
		select * from welfareFacilities where FACILITYNO = 6
	</select>

</mapper>  