@charset "UTF-8";
.table{    

	width: 55%;
    margin-bottom: 1rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;}
.sub_table{
    text-align: center;
    margin: 0 auto;
}
.layer{
    text-align: center;
    margin-top: 25px;
}
.button_div{
    display: inline-flex;
    width: 15%;
    margin: 0 auto;
    margin-top: 20px;
}
.button_div input{
    margin-left: 1%;
    margin-right: 1%;
}
.button_div a{

}
.button_div p{
margin: 0 auto;
}
.map{
	display:table;
	margin: 0 auto;
	margin-top: 100px
	background:#fff;
}

.map p{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}